<!doctype html>
<html lang="pt-br">
    <head>
        <!--Título-->
        <title>Dashboard - Usuário</title>

        <!--Meta Tags-->
        <%= render 'comuns/metatags' %>

        <!--Bootstrap CSS-->
        <%= render 'comuns/bootstrap' %>

        <!--Favicon-->
        <%= render 'comuns/favicon' %>

        <!--Styles-->
        <%= stylesheet_link_tag 'main' %>
    </head>

    <body>
        <!--Navbar-->
        <%= render 'user/components/navbar' %>

        <!--Mensagens-->
        <%= render 'comuns/mensagens' %>
        
        <div class="container container-login">
            <!-- temporário -->
                <% @events2.each do |event| %>
                <% if event.status_confirmacao == 'P' %>
                    <script type="text/javascript">
                    $(window).on('load', function() {
                        $('#confirmacao-notificacao<%= event.id %>').modal('show');
                    });
                    </script>
                <% end %>
                    <%= render 'user/components/modals-confirmacao', event: event %>
                <% end %>
                <!-- temporário -->


        </div>
    </body>
</html>